;:root {
    --font-principal: Open;
}

body {
    font-family: var(--font-principal);
    margin: 0;
    padding: 0;
}

.lista {
    display: none;
}

.primeiro {
    height: 100%;
    width: 100%;
}

.container {
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    /* Ajuste aqui para reduzir o espaçamento inferior */
    display: flex;
    flex-direction: column;
    margin: 0;
}

.titulo {
    display: flex;
    justify-content: center;
}

.container2 {
    position: absolute;
    top: 15%;
    /* Ajuste a posição vertical conforme desejado */
    left: 18%;
    /* Ajuste a posição horizontal conforme desejado */
    width: 75%;
    /* Ajuste a largura conforme desejado */
    background-size: contain;
    padding: 10px;
    
}
.negrito{
    font-weight: bolder;
}

.lista {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-family: var(--font-principal);
}

.lista1 {
    padding: 0.9em;
}
.container3{
    background-color: aqua;
    
}
.container4{
    background-color: aqua;
    
}

.container5{
    background-color: aqua;
    
}